<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waimai.skyserver.mapper.DishMapper">
    <!-- 新增菜品和口味 -->
    <!-- useGeneratedKeys获取insert语句生成的主键值，keyProperty="id"，将id的值赋值回给Dish对象里的id属性 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, create_time, update_time, create_user, update_user,status)
        values (#{name}, #{categoryId}, #{price}, #{image},#{description}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser},#{status})
    </insert>

    <!-- 根据分类id查询菜品数量 -->
    <select id="pageQuery" resultType="com.waimai.skypojo.vo.DishVO">
        select d.*, c.name as categoryName from dish d left outer join category c on d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and d.name like '%${name}%'
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.update_time desc
    </select>

    <!-- 根据id批量删除菜品 -->
    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 修改菜品数据 -->
    <update id="update">
        update dish
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据分类id查询菜品数据 -->
    <select id="list" resultType="com.waimai.skypojo.entity.Dish">
        select * from dish where status = 1 and category_id = #{categoryId}
    </select>
</mapper>