<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waimai.skyserver.mapper.ShoppingCartMapper">
    <!-- 动态查询购物车数据 -->
    <select id="list" resultType="com.waimai.skypojo.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{userId}
            </if>
        </where>
    </select>

</mapper>